
/* ANIMATION CODE */
.reveal-upward{
    animation: reveal-upward 1s ease-in 2.3s forwards;
}

/* hops down, jump right, and spin counterclockwise animation */
@keyframes logo-animation{
    /* hopping down from off the screen... */
    0%   {transform: translate(-100px, -100px);}
    35%  {transform: translate(10px, 70px);}


    /* ...jumping up to the right... */
    50%  {transform: translate(150px, 5px);}
    65%  {transform: translate(150px, 5px);}


    /* ...one full rotation couterclockwise... */
    65%{
        transform-origin: left top;
        transform: translate(0px, 10px) rotate(-360deg) ; }
    70%{
        transform-origin: center center;
        transform: translate(0px, 10px) rotate(-360deg);}
   
    /* ...sliding up */
    100%{
        transform-origin: left top;
        transform: translate(0px, 1px) rotate(-360deg);}
}

/* reveal element and slightly shift it upwards animation */
@keyframes reveal-upward{
    0%{opacity: 0; transform: translateY(20px);}
    40%{transform: translateY(20px);}
    100%{opacity: 100; transform: translateY(0px);}
}

/* define space for the animation to occur in  */
#animation-area{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 50px;

    border: 1px solid #000;
}

/* Apply animation to business NAME when hovered over on desktop */
#animation-area:hover #business-name {
    animation: logo-animation 4s ease-in-out 0s forwards;
}

/* Apply animation to business LOGO when hovered over on desktop */
#animation-area:hover #business-logo {
    opacity: 0;
    animation: reveal-upward 1s ease-in 2.3s forwards;
}


#business-name{
    width: fit-content;
    position:relative;
    display: block;  
    padding: 0px;
    margin: 0px;
}

#business-logo{
    width: 150px;
    height: auto;
    display: block;
    margin: auto;
    /* opacity: 0; */
}


/* */
body{
    background-color: rgb(227, 208, 208);
}

/* WHAT DOES THIS DO?? */
/* .col{
    border: 2px solid black;
} */

/* Webpage Horizontal Navbar */
.navbar-brand:hover{
    color: green;
}
.webpage-nav-bar{
    height: fit-content;
    padding: 5px;
    background-color: red;
}

/* Menu-page styles */
.my-menu-container .card{
    width: 350px;
    height: auto;
    margin: 10px;
    text-align: center;
}

.my-menu-container img{
    width: 100%;
    height: 300px;
    /* Resource credit: https://www.w3schools.com/csS/css3_object-fit.asp */
    object-fit: cover; /* Cover the area while maintaining aspect ratio */
}

.my-menu-container .list-group .list-group-item{
    text-align: left;
}



/* Shop-page styles */

/* make second column content scrollable */
.shop-page-scrollspy{
    height: 100vh; 
    overflow-y: auto;
    padding: 1rem;
}

.li-container{
    width: 100%;
}

.btn{
    border: 2px solid black;
    padding: 0px 5px;
}


/* x <= 576 px */
@media (max-width: 576px) {

    /* WHICH WEBPAGE THIS BELONG TO?? */
    .my-owner-img{
        width: 250px;
        height: auto;
    }

    /* Shop-page breakpoint */

        /* content stack on top each other */
    .li-container {
        flex-direction: column;
    }
    .li-container h5, .li-container h6{
        text-align: center;
    }

    /* Toggle off vertical scroll on smaller devices */
    .shop-page-scrollspy{
        height: 100vh; 
        overflow-y: visible;
    }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Desktop Styles */
@media (min-width: 1025px) {
    /* Your desktop-specific styles here */
}